<body id="page-top">
    <!-- Masthead-->
    <header class="masthead" style="background-image:url(../assets/img/header-bg.jpg); text-align: center;">
        <div class="container">
            <div class="masthead-subheading">Raise Awareness of Gender Equality!</div>
            <div class="masthead-heading text-uppercase">We're Together With You</div>
            <a class="btn btn-primary btn-xl text-uppercase" href="#facts">Tell Me More</a>
        </div>
    </header>
    <!-- Facts-->
    <section class="page-section bg-light" id="facts">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">The Things We Want You Know </h2>
                <h3 class="section-subheading text-muted">Gender inequality is never far away from us</h3>
            </div>
            <div class="row text-center" style="margin-bottom: 4rem;">
                <div class="col-md-7">
                    <h4 class="my-3"> Do you really know what is gender equality?</h4>
                    <p class="text-muted" style="margin-bottom: 6rem;">Learn gender equality from our perspective</p>
                    <a class="btn btn-secondary btn-xs text-uppercase" herf="#facts">Learn More</a>
                </div>
                <div class="col-md-5">
                    <img src="~/assets/img/facts/facts1-homepage.jpg" width="450" height="300">
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-5">
                    <img src="~/assets/img/facts/facts2-homepage.jpg" width="450" height="300">
                </div>
                <div class="col-md-7">
                    <h4 class="my-3">
                        Do you really know how is the gender equality situation in your area?
                    </h4>
                    <p class="text-muted" style="margin-bottom: 6rem;">Facts about gender equality in Victoria</p>
                    <a class="btn btn-secondary btn-xs text-uppercase" herf="#facts">Learn More</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Game-->
    <section class="page-section " id="game">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Life of Natalie </h2>
                <h3 class="section-subheading text-muted">Play the game to check your understanding of gender equality</h3>
                <div class="row text-center" style="margin-bottom: 4rem;">
                    <div class="col-md-7">
                        <p class="text-black" style="margin-top: 2rem;margin-bottom: 6rem;">In this game, you will perform a little girl named Natalie to experience some stages in her life. These stages will lead to different result because of your choices.</p>
                        <a class="btn btn-secondary btn-xs text-uppercase" herf="#game">Play Now</a>
                    </div>
                    <div class="col-md-5">
                        <img src="~/assets/img/game/game-homepage.jpg" width="450" height="300">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Take actions-->
    <section class="page-section bg-light" id="takeAction">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">The Actions You Can Take </h2>
                <h3 class="section-subheading text-muted">There is always something you can do no matter which role you are</h3>
                <p>Although we still have a long way to go before we achieve gender equality, but there are actions that can be taken by everyone to stop gender inequality.</p>
                <div class="row text-center">
                    <a class="col-md-6" href="~/ForVictim">
                        <img src="~/assets/img/forVictim/forVictim-homepage.jpg" width="400" height="260">
                        <h5 class="my-3">
                            For Victim
                        </h5>
                    </a>
                    <a class="col-md-6" href="#page-top">
                        <img src="~/assets/img/forStaff/forStaff-homepage.jpg" width="400" height="260">
                        <h5 class="my-3">
                            For Concerned Staff
                        </h5>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- External help-->
    <section class="page-section" id="externalHelp">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">External Help </h2>
                <h3 class="section-subheading text-muted">Need subheading or description!!!!(need suggestion)</h3>
            </div>
        </div>
    </section>
</body>


