
<body id="page-top">
    <!-- Masthead-->
    <header class="masthead" style="background-image:url(../assets/img/forVictim/forVictim-homepage.jpg)">
        <div class="container">
            <div class="masthead-heading  text-uppercase">For Victim</div>
            <h3>Gender inequality is in many instances illegal,</h3>
            <h3>definitely immoral and just plain wrong.</h3>
            <h3>So what should you do when you think it is occuring?</h3>
            <h3>Consider the following.</h3>
        </div>
    </header>
    <!-- Self Help-->
    <section class="page-section bg-light" id="selfHelp">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Self Help </h2>
                <h3 class="section-subheading text-muted">Gender inequality happens anywhere. Click on the cards below to learn about the steps to stop gender inequality.</h3>
                <div class="row">
                    <div class="col-md-4">
                        <!-- Gender Discrimination-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#genderDiscrimination">
                                <img class="img-fluid" src="~/assets/img/forVictim/forVictim-genderDiscrimination.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Gender Discrimination</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!--Sexual Harassment-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#sexualHarassment">
                                <img class="img-fluid" src="~/assets/img/forVictim/forVictim-harassment.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Sexual Harassment</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- Domestic Violence-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#domesticViolence">
                                <img class="img-fluid" src="~/assets/img/forVictim/forVictim-domesticViolence.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Domestic Violence</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Post-Crisis Recovery-->
    <section class="page-section" id="recovery">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Post-crisis Recovery </h2>
                <h3 class="section-subheading text-muted">It's okay to be not okay. Click to learn some mental wellness tips</h3>
                <div class="row">
                    <div class="col-md-4">
                        <!-- G.L.A.D.-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#glad">
                                <img class="img-fluid" src="~/assets/img/forVictim/forVictim-GLAD.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">G.L.A.D.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!--Sleep Hygiene-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#sleep">
                                <img class="img-fluid" src="~/assets/img/forVictim/forVictim-sleep.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Sleep Hygiene</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- Tips to recover from PTSD-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#ptsd">
                                <img class="img-fluid" src="~/assets/img/forVictim/forVictim-PTSD.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Tips to recover from PTSD</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Self Help Modals-->
    <!-- Gender Discrimination modal popup-->
    <div class="portfolio-modal modal fade" id="genderDiscrimination" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="~/assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project details-->
                                <h2 class="text-uppercase">Gender Discrimination</h2>

                                <img class="img-fluid d-block mx-auto" src="~/assets/img/forVictim/forVictim-genderDiscrimination.jpg" alt="..." />
                                <div class="text-start">
                                    <h5>1. Review the policies</h5>
                                    <p>Find out the policies that may protect you and the complaint procedure. If there is no information, see if there is a phone number for complaint.</p>
                                    <h5>2. Write everything down in detail and keep them in a safe place</h5>
                                    <p>Gather the evidence including: </p>
                                    <p>• What happened and when it occurred, witnesseses or people involved</p>
                                    <p>• Keep notes about conversations related to the issue</p>
                                    <p>• Save relevant emails or messages</p>
                                    <h5>3. Report concerns to the superiors</h5>
                                    <p>Put your complaints in writing (in email or letter). Send a follow-up email confirming the conversation if you report verbally.</p>
                                    <h5>4. File a complaint with government agency</h5>
                                    <p>Learn more about <a href="https://www.humanrights.vic.gov.au/for-individuals/discrimination/">making a formal complaint to Victorian Equal Opportunity & Human Rights Commission</a></p>
                                </div>
                                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-times me-1"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sexual Harassment modal popup-->
    <div class="portfolio-modal modal fade" id="sexualHarassment" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="~/assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project details-->
                                <h2 class="text-uppercase">Sexual Harassment</h2>

                                <img class="img-fluid d-block mx-auto" src="~/assets/img/forVictim/forVictim-harassment.jpg" alt="..." />
                                <div class="text-start">
                                    <h5>1. Get informed</h5>
                                    <p>Check the sexual harassment prevention policy if the incident occurs in school or workplace.</p>
                                    <h5>2. Keep a record</h5>
                                    <p>Record a detailed description of the incident including what happened, when it happened, where it took place, the witnesses and other evidence.</p>
                                    <h5>3. Confronting them</h5>
                                    <p>This sounds scary, but it may work. If you feel safe to do so, consider stopping them in a firm manner. </p>
                                    <h5>4. Address the incident</h5>
                                    <p>If the person does not stop even if you have asked them to stop, you may consider to escalate this issue:</p>
                                    <p>
                                        • At school: Report the harassment to the teacher, guidance counsellor, or even to the principal.
                                    </p>
                                    <p>• At work: Report to HR, supervisor or your union.</p>
                                    <h5>5. Contact the police</h5>
                                    <p>Report to the police if the harassment is against the law (e.g., physical harm, stalking, etc.). </p>
                                </div>
                                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-times me-1"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Domestic Violence modal popup-->
    <div class="portfolio-modal modal fade" id="domesticViolence" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="~/assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project details-->
                                <h2 class="text-uppercase">Domestic Violence</h2>

                                <img class="img-fluid d-block mx-auto" src="~/assets/img/forVictim/forVictim-domesticViolence.jpg" alt="..." />
                                <div class="text-start">
                                    <h5>1. Know the abuser’s red flag</h5>
                                    <p>Stay alert for the signs that the abuser may explode in violence. Think of some believable reasons to leave if you sense the signs.</p>
                                    <h5>2. Get evidence of the abuse</h5>
                                    <p>Keep a journal of all abuse including photos and documented records of your injuries.</p>
                                    <h5>3. Make escape plan</h5>
                                    <p>Be prepared to leave at a moment’s notice such as hiding a spare key and prepare emergency cash, clothing, and memorize a list of emergency contacts. </p>
                                    <h5>4. Stay with trusted family or friend</h5>
                                    <p>Do not continue to stay with the abuser and ask a trusted person if you can stay with them while you work out what to do next.</p>
                                    <h5>5. Report domestic violence by calling Triple Zero (000) </h5>
                                    <p>If you are in immediate danger, call Triple Zero (000). Tell them your language if you have difficulty understanding English. They will connect you to an interpreter. </p>
                                    <h5>6. Contact the Orange Door</h5>
                                    <p>If you are not in immediate danger, but feel unsafe because someone close to you is making you feel afraid, contact The <a href="https://orangedoor.vic.gov.au/find-a-service-near-you">Orange Door</a> for domestic violence services.</p>
                                </div>
                                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-times me-1"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Post-Crisis Recovery Modals-->
    <!-- G.L.A.D. modal popup-->
    <div class="portfolio-modal modal fade" id="glad" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="~/assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project details-->
                                <h2 class="text-uppercase">G.L.A.D.</h2>

                                <img class="img-fluid d-block mx-auto" src="~/assets/img/forVictim/forVictim-GLAD.jpg" alt="..." />
                                <div class="text-start">
                                    <p>Practice daily G.L.A.D. for a positive boost. Find a quiet time when you can reflect the day and contemplate G.L.A.D.</p>
                                    <h5>1. Grateful </h5>
                                    <p>Write down the things that make you feel grateful. It can be small or big, just make it specific.</p>
                                    <h5>2. Learn </h5>
                                    <p>What is the thing that you learned today? It could be a new fact or new perspective on something.</p>
                                    <h5>3. Accomplishment </h5>
                                    <p>Make a note about something that you achieved today. It could be getting enough sleep or doing anything that moves you toward reaching a goal.</p>
                                    <h5>4. Delight</h5>
                                    <p>Document a moment that brought you joy. This can be a thing of beauty that you notice during the day such as hearing a bird chip and noticing the pleasant sensation of water on your hands while washing the dishes.</p>
                                    <p>Use a journal or mobile device to keep track of those G.L.A.D. items that you notice. Try to do this each day and notice new and unique items if possible.</p>
                                </div>
                                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-times me-1"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sleep Hygiene-->
    <div class="portfolio-modal modal fade" id="sleep" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="~/assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project details-->
                                <h2 class="text-uppercase">Sleep Hygiene</h2>

                                <img class="img-fluid d-block mx-auto" src="~/assets/img/forVictim/forVictim-sleep.jpg" alt="..." />
                                <div class="text-start">
                                    <p>Obtaining healthy sleep is important for both physical and mental health, improving productivity and overall quality of life. A handful of tips can help in each of these areas, they aren’t rigid requirements. You can adapt them to fit your circumstances and create your own sleep hygiene checklist to help get the best sleep possible.</p>
                                    <h5>1. Set your sleep schedule</h5>
                                    <p>• Have a fixed wake-up time - regardless of whether it’s a weekday or weekend.</p>
                                    <p>• Prioritize sleep - calculate a target bedtime based on your fixed wake-up time and do your best to be ready for bed around that time each night.</p>
                                    <h5>2. Follow a nightly routine</h5>
                                    <p>• Budget 30 Minutes For Winding Down - soft music, light stretching, reading, and/or relaxation exercises.</p>
                                    <p>• Dim Your Lights - Try to keep away from bright lights.</p>
                                    <p>• Unplug From Electronics - Build in a 30-60 minute pre-bed buffer time that is device-free. </p>
                                    <h5>3. Optimize your bedroom</h5>
                                    <p>• Have a Comfortable Mattress and Pillow - your sleeping surface is critical to comfort and pain-free sleep, so choose your mattress and pillow wisely.</p>
                                    <p>• Set a Cool Yet Comfortable Temperature - fine-tune your bedroom temperature to suit your preferences, but err on the cooler side (around 65 degrees fahrenheit).</p>
                                    <p>• Drown Out Noise - Ear plugs can stop noise from keeping you awake, and if you don’t find them comfortable, you can try a white noise machine or even a fan to drown out bothersome sounds.</p>
                                </div>
                                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-times me-1"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Tips to recover from PTSD-->
    <div class="portfolio-modal modal fade" id="ptsd" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="~/assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project details-->
                                <h2 class="text-uppercase">Tips to recover from PTSD</h2>

                                <img class="img-fluid d-block mx-auto" src="~/assets/img/forVictim/forVictim-PTSD.jpg" alt="..." />
                                <div class="text-start">
                                    <p>Recovery from Post-Traumatic Stress Disorder (PTSD) is a gradual, ongoing process. But there are many steps you can take to cope with the residual symptoms and reduce your anxiety and fear.</p>
                                    <h5>Challenge your sense of helplessness</h5>
                                    <p>One of the best ways to reclaim your sense of power is by challenging the sense of helplessness. Below are the ways:</p>
                                    <p>• Learn about trauma and PTSD</p>
                                    <p>• Join a PTSD support group</p>
                                    <p>• Practice relaxation techniques</p>
                                    <p>• Pursue outdoor activities</p>
                                    <p>• Confide in a person you trust</p>
                                    <p>• Spend time with positive people</p>
                                    <h5>2. Get moving</h5>
                                    <p>When you’re suffering from PTSD, exercise can do more than release endorphins and improve your mood and outlook. By really focusing on your body and how it feels as you move, exercise can actually help your nervous system become “unstuck” and begin to move out of the immobilization stress response.</p>
                                    <h5>3. Support PTSD treatment with a healthy lifestyle</h5>
                                    <p>The symptoms of PTSD can be hard on your body so it’s important to take care of yourself and develop some healthy lifestyle habits.</p>
                                    <p>• Take time to relax</p>
                                    <p>• Avoid alcohol and drugs</p>
                                    <p>• Eat a healthy diet</p>
                                    <p>• Get enough sleep</p>
                                </div>
                                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-times me-1"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>